body {
    overflow: hidden;
}

#card {
    padding: min(20px, 2vw) min(40px, 4vw);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    bottom: min(40px, 4vw);
    right: min(40px, 4vw);
}

#card > h1 {
    font-size: min(100px, 10vw);
    font-weight: bold;
}
